<nav style="margin-bottom: 20px;" class="nav has-shadow">
  <div class="nav-left">
    <a class="nav-item is-tab">
      <img src="images/tako_.png">
    </a>
    <a class="nav-item is-tab is-active">Home</a>
  </div>
  <div class="nav-center"></div>
  <div class="nav-right"></div>
</nav>

<div class="container">
  <div class="columns">
    <div class="column is-two-thirds">
      <div class="box">
        <leaflet 
          maxbounds="vm.maxbounds"
          defaults="vm.defaults"
          markers="vm.markers" 
          paths="vm.paths"
          layers="vm.layers"
          height="480px" 
          width="100%"></leaflet>
      </div>
    </div>
    <div class="column">
      <div class="box">
        
        <div ng-init="activeTab = 'drivers'" class="tabs is-small">
          <ul>
            <li 
              ng-click="activeTab = 'drivers'"
              ng-class="{'is-active': activeTab === 'drivers'}"><a>Conductores</a></li>
            <li
              ng-click="activeTab = 'clients'"
              ng-class="{'is-active': activeTab === 'clients'}"><a>Clientes</a></li>
          </ul>
        </div>

        <div ng-show="activeTab === 'drivers'">
          <form ng-submit="vm.saveDriver(newD)">
            <p class="control has-addons">
              <input 
                ng-model="newD.name" 
                ng-class="{'is-danger': vm.driverErrors.name}"
                class="input" type="text" placeholder="nombre de conductor">
              <a 
                ng-class="{'is-loading': vm.savingDriver}"
                ng-click="vm.saveDriver(newD)"
                class="button is-primary">
                +
              </a>
              <small ng-show="vm.driverErrors.name">{{vm.driverErrors.name}}</small>
            </p>
          </form>

          <div class="userList">
            <div class="media" ng-repeat="driver in vm.driverList">
              <div class="media-left">
                <div class="roleIcon driver">
                  <i class="fa fa-taxi"></i>
                </div>
              </div>

              <div class="media-content">
                <a>{{::driver.name}}</a>


                <a 
                  ng-click="vm.deleteDriver(driver)" 
                  class="button is-danger is-inverted is-small is-pulled-right">Eliminar</a>
              </div>

              <div class="media-right">
                <div ng-if="driver.nearest">
                  <ul>
                    <li>
                      <small class="level-item">
                        + cercano:
                        {{driver.nearest.name}}
                      </small>
                    </li>
                    <li>
                      <small>
                        <i class="fa fa-clock-o"></i>
                        {{driver.durationToNearest}}
                      </small>
                    </li>
                    <li>
                      <small>
                        <i class="fa fa-road"></i>
                        {{driver.distanceToNearest}} m
                      </small>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div ng-show="activeTab === 'clients'">
          <form ng-submit="vm.saveClient(newC)">
            <p class="control has-addons">
              <input 
                ng-model="newC.name" 
                ng-class="{'is-danger': vm.clientErrors.name}"
                class="input" type="text" placeholder="nombre de cliente">
              <a 
                ng-class="{'is-loading': vm.savingClient}"
                ng-click="vm.saveClient(newC)"
                class="button is-primary">
                +
              </a>
              <small ng-show="vm.clientErrors.name">{{vm.clientErrors.name}}</small>
            </p>
          </form>

          <div class="userList">
            <div class="media" ng-repeat="client in vm.clientList">
              <div class="media-left">
                <div class="roleIcon client">
                  <i class="fa fa-male"></i>
                </div>
              </div>

              <div class="media-content">
                <a>{{::client.name}}</a>
                <a 
                  ng-click="vm.deleteClient(client)" 
                  class="button is-danger is-inverted is-small is-pulled-right">Eliminar</a>
              </div>
             
            </div>
          </div>
        </div>

      </div>

      <div class="box">
        <div class="level">
          <div class="level-left">
            <p>
              La simulacion esta {{
                vm.simulationStatus == 0
                  ? 'detenida'
                  : 'corriendo'
              }}
            </p>
          </div>
          <div class="level-right">
            <a 
              ng-click="vm.stopSimulation()"
              ng-if="vm.simulationStatus == 1" class="button is-warning">Detener</a>
            <a 
              ng-click="vm.startSimulation()"
              ng-if="vm.simulationStatus == 0" class="button is-primary">Iniciar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
