<nav style="margin-bottom: 20px;" class="nav has-shadow">
  <div class="nav-left">
    <a class="nav-item is-tab">
      <img src="images/tako_.png">
    </a>
    <a class="nav-item is-tab is-active">Home</a>
  </div>
  <div class="nav-center"></div>
  <div class="nav-right"></div>
</nav>

<div class="container">
  <div class="columns">
    <div class="column is-two-thirds">
      <div class="box">
        <leaflet 
          maxbounds="vm.maxbounds"
          defaults="vm.defaults"
          markers="vm.markers" 
          paths="vm.paths"
          layers="vm.layers"
          height="480px" 
          width="100%"></leaflet>
        <!-- <ng-map 
          style="height: 500px; background: #00d1b2;"
          zoom="13"
          min-zoom="13"
        >
          <marker 
            ng-repeat-start="mk in vm.driverList" 
            position="{{vm.getPosition(mk)}}"
            label="{{mk.name}}"
            ></marker>
          <path
            ng-repeat-end
            geodesic="true"
            stroke-color="#FF0000"
            stroke-opacity="1.0"
            stroke-weight="2"
          ></path>
        </ng-map> -->
        <!-- <map-dash></map-dash> -->
      </div>
    </div>
    <div class="column">
      <div class="box">
        
        <div ng-init="activeTab = 'drivers'" class="tabs is-small">
          <ul>
            <li 
              ng-click="activeTab = 'drivers'"
              ng-class="{'is-active': activeTab === 'drivers'}"><a>Conductores</a></li>
            <li
              ng-click="activeTab = 'clients'"
              ng-class="{'is-active': activeTab === 'clients'}"><a>Clientes</a></li>
          </ul>
        </div>

        <div ng-show="activeTab === 'drivers'">
          <form ng-submit="vm.saveDriver(newD)">
            <p class="control has-addons">
              <input 
                ng-model="newD.name" 
                ng-class="{'is-danger': vm.driverErrors.name}"
                class="input" type="text" placeholder="nombre">
              <a 
                ng-class="{'is-loading': vm.savingDriver}"
                ng-click="vm.saveDriver(newD)"
                class="button is-primary">
                +
              </a>
              <small ng-show="vm.driverErrors.name">{{vm.driverErrors.name}}</small>
            </p>
          </form>

          <div class="userList">
            <div class="media" ng-repeat="driver in vm.driverList">
              <figure class="media-left">
                <p class="image is-32x32">
                  <img src="http://bulma.io/images/placeholders/128x128.png">
                </p>
              </figure>

              <div class="media-content">
                <a>{{::driver.name}}</a>
              </div>

              <div class="media-right">
                <div ng-if="driver.nearest">
                  <ul>
                    <li>
                      <small class="level-item">
                        {{driver.nearest.name}}
                      </small>
                    </li>
                    <li>
                      <small>
                        <i class="fa fa-clock-o"></i>
                        {{driver.durationToNearest}} seg
                      </small>
                    </li>
                    <li>
                      <small>
                        <i class="fa fa-road"></i>
                        {{driver.distanceToNearest}} m
                      </small>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div ng-show="activeTab === 'clients'">
          <form ng-submit="vm.saveClient(newC)">
            <p class="control has-addons">
              <input 
                ng-model="newC.name" 
                ng-class="{'is-danger': vm.clientErrors.name}"
                class="input" type="text" placeholder="nombre">
              <a 
                ng-class="{'is-loading': vm.savingClient}"
                ng-click="vm.saveClient(newC)"
                class="button is-primary">
                +
              </a>
              <small ng-show="vm.clientErrors.name">{{vm.clientErrors.name}}</small>
            </p>
          </form>

          <div class="userList">
            <div class="media" ng-repeat="client in vm.clientList">
              <div class="media-content">
                {{::client.name}}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
