<nav style="margin-bottom: 20px;" class="nav has-shadow">
  <div class="nav-left">
    <a class="nav-item is-tab">
      <img src="images/tako_.png">
    </a>
    <a class="nav-item is-tab is-active">Home</a>
  </div>
  <div class="nav-center"></div>
  <div class="nav-right"></div>
</nav>

<div class="container">
  <div class="columns">
    <div class="column is-two-thirds">
      <div class="box">
        <ng-map 
          style="height: 500px; background: #00d1b2;"
          zoom="13"
          min-zoom="13"
        >
          <marker 
            ng-repeat="mk in vm.markers" 
            position="{{mk.position}}"
            label="{{mk.label}}"></marker>
        </ng-map>
        <!-- <map-dash></map-dash> -->
      </div>
    </div>
    <div class="column">
      <div class="box"></div>
    </div>
  </div>
</div>
