.userList {
    padding: 0 15px;
	height: 200px;
	max-height: 200px;
	overflow-y: scroll;
	margin-top: 15px;
}

.awesome-marker i {
    font-size: 15px;
    margin-top: 12px;
}

.roleIcon {
	width: 20px;
	height: 20px;
    color: #fff;
    padding: 5px;
    border-radius: 20px;
}

.roleIcon.driver {
    background: #72af26;
}
.roleIcon.driver i {
    font-size: 14px;
}

.roleIcon.client {
	background: #d152b8;
}
.roleIcon.client i {
    font-size: 23px;
}
